
{% load i18n avatar_tags %}
<div class="page-content container-fluid">



    <div class="page-header">
            <h1 class="page-title">Setting up you're profile</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Progile</a></li>
              <li class="breadcrumb-item active">Upload profile picture</li>
              
            </ol>
            <div class="page-header-actions">
              <button type="button" class="btn btn-sm btn-icon btn-default btn-outline btn-round" data-toggle="tooltip" data-original-title="Edit">
                <i class="icon wb-pencil" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-sm btn-icon btn-default btn-outline btn-round" data-toggle="tooltip" data-original-title="Refresh">
                <i class="icon wb-refresh" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-sm btn-icon btn-default btn-outline btn-round" data-toggle="tooltip" data-original-title="Setting">
                <i class="icon wb-settings" aria-hidden="true"></i>
              </button>
            </div>
          </div>
<div class="row">
  <div class="col-lg-12">
  <div class="panel">
  <div class="panel-heading">
  <h3 class="panel-title">Change the profile picture</h3>
  </div>
  <div class="panel-body">
{% block content %}
        
    <p>{% trans "Your current avatar: " %}</p>
    <div class="avatar avatar-100 mb-20">
    {% avatar user %}
</div>
    {% if not avatars %}
        <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
    {% endif %}
    <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
        {{ upload_avatar_form.as_p }}
        <p>{% csrf_token %}<input type="submit" value="{% trans "Upload New Image" %}" class="btn btn-primary"/></p>
    </form>
{% endblock %}
</div>
</div>