{% extends 'site/index.html' %}
{% load staticfiles %}


{% block content %}
  

  

<!-- Page Wrap ===========================================-->
<div id="wrap"> 
  
  <!-- TOP BAR ===========================================-->
  <div class="top-bar light">
    <div class="container">
      <ul class="pull-left">
        <li><a href="index.html">Welcome To Our Medikal Center</a></li>
      </ul>
      
      <!-- SOCIAL ICONS ===========================================-->
      <ul class="social_icons">
        <li class="facebook"><a href="#."><i class="fa fa-facebook"></i> </a></li>
        <li class="twitter"><a href="#."><i class="fa fa-twitter"></i> </a></li>
        <li class="dribbble"><a href="#."><i class="fa fa-dribbble"></i> </a></li>
        <li class="instagram"><a href="#."><i class="fa fa-instagram"></i> </a></li>
        <li class="googleplus"><a href="#."><i class="fa fa-google-plus"></i> </a></li>
        <li class="pinterest"><a href="#."><i class="fa fa-pinterest"></i> </a></li>
        <li class="linkedin"><a href="#."><i class="fa fa-linkedin"></i> </a></li>
      </ul>
    </div>
  </div>
  <!-- HEADER ===========================================-->
  
  
  <!--======= CONTENT =========-->
  <div class="content fix-nav-space"> 
    
    <!--======= SUB BANNER =========-->
    <section class="sub-banner" data-stellar-background-ratio="0.5">
      <div class="overlay">
        <div class="container">
          <h3>Our departments</h3>
          <p>Claritas est etiam processus</p>

          <!--======= Breadcrumbs =========-->
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Departments</li>
          </ol>
        </div>
      </div>
    </section>
    
    <!--======= INTRO =========-->
    <section class="intro">
      <div class="container">
        <div class="intro-in"> 
          <!--Tittle-->
          <div class="tittle">
            <h3>We are a team of young 
              professionals passionate in our work.</h3>
          </div>
          
          <!--Text Section-->
          <ul class="row">
            <li class="col-md-6">
              <p>Duis autem vel eum iriure dolor in hendrerit n vuew lputate velit esse molestie consequat, vel illum dolore eufe ugiat nulla facilisis at vero.</p>
            </li>
            <li class="col-md-6">
              <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum seacula quarta decima quinta decima. </p>
            </li>
          </ul>
        </div>
      </div>
    </section>
    
    <!--======= DEPARTMENT SECTION =========-->
    <section class="depart-sec">
      <div class="container"> 
        
        <!-- ROW -->
        <ul class="row">
          
          <!-- DENTAL -->
          <li class="col-sm-4">
            <div class="in-dert"> <img src="{% static 'images/icon-1.png'%}" alt="">
              <h5>dental</h5>
              
              <!-- Hover Info -->
              <div class="over-depart"> <img src="{% static 'images/icon-1.png'%}" alt="">
                <h5>dental</h5>
                <p> Claritas est etiam processus dynamicus, qui sequ itur mutationem consuetudium lectorum notare quam littera.</p>
                <a href="#.">View more <i class="fa fa-arrow-circle-o-right"></i></a> </div>
            </div>
          </li>
          
          <!-- Cardiology -->
          <li class="col-sm-4">
            <div class="in-dert"> <img src="{% static 'images/icon-2.png'%}" alt="">
              <h5>Cardiology</h5>
              
              <!-- Hover Info -->
              <div class="over-depart"> <img src="{% static 'images/icon-2.png'%}" alt="">
                <h5>Cardiology</h5>
                <p> Claritas est etiam processus dynamicus, qui sequ itur mutationem consuetudium lectorum notare quam littera.</p>
                <a href="#.">View more <i class="fa fa-arrow-circle-o-right"></i></a> </div>
            </div>
          </li>
          
          <!-- For disabled -->
          <li class="col-sm-4">
            <div class="in-dert"> <img src="{% static 'images/icon-3.png'%}" alt="">
              <h5>For disabled</h5>
              
              <!-- Hover Info -->
              <div class="over-depart"> <img src="{% static 'images/icon-3.png'%}" alt="">
                <h5>For disabled</h5>
                <p> Claritas est etiam processus dynamicus, qui sequ itur mutationem consuetudium lectorum notare quam littera.</p>
                <a href="#.">View more <i class="fa fa-arrow-circle-o-right"></i></a> </div>
            </div>
          </li>
          
          <!-- Ophthalmology -->
          <li class="col-sm-4">
            <div class="in-dert"> <img src="{% static 'images/icon-4.png'%}" alt="">
              <h5>Ophthalmology</h5>
              
              <!-- Hover Info -->
              <div class="over-depart"> <img src="{% static 'images/icon-4.png'%}" alt="">
                <h5>Ophthalmology</h5>
                <p> Claritas est etiam processus dynamicus, qui sequ itur mutationem consuetudium lectorum notare quam littera.</p>
                <a href="#.">View more <i class="fa fa-arrow-circle-o-right"></i></a> </div>
            </div>
          </li>
          
          <!-- Emergency -->
          <li class="col-sm-4">
            <div class="in-dert"> <img src="{% static 'images/icon-5.png'%}" alt="">
              <h5>Emergency</h5>
              
              <!-- Hover Info -->
              <div class="over-depart"> <img src="{% static 'images/icon-5.png'%}" alt="">
                <h5>Emergency</h5>
                <p> Claritas est etiam processus dynamicus, qui sequ itur mutationem consuetudium lectorum notare quam littera.</p>
                <a href="#.">View more <i class="fa fa-arrow-circle-o-right"></i></a> </div>
            </div>
          </li>
          
          <!-- x-ray -->
          <li class="col-sm-4">
            <div class="in-dert"> <img src="{% static 'images/icon-6.png'%}" alt="">
              <h5>x-ray</h5>
              
              <!-- Hover Info -->
              <div class="over-depart"> <img src="{% static 'images/icon-6.png'%}" alt="">
                <h5>x-ray</h5>
                <p> Claritas est etiam processus dynamicus, qui sequ itur mutationem consuetudium lectorum notare quam littera.</p>
                <a href="#.">View more <i class="fa fa-arrow-circle-o-right"></i></a> </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    
    <!--======= Contact Info =========-->
    <section class="contact-info">
      <div class="container"> 
        
        <!--Address-->
        <ul class="row">
          <li class="col-md-3"> <i class="ion-ios-location-outline"></i>
            <h5>Address</h5>
            <p>1800 Abbot Kinney Blvd. Unit D & E
              Venice, CA 90291</p>
          </li>
          
          <!-- Hot line -->
          <li class="col-md-3"> <i class="ion-iphone"></i>
            <h5>Hotline</h5>
            <p>+00-0122-123-0089</p>
          </li>
          
          <!--Email Contact-->
          <li class="col-md-3"> <i class="ion-ios-email-outline"></i>
            <h5>Email contact</h5>
            <p>medikal@gmail.com</p>
            <p> contact@medikalclinic.com</p>
          </li>
          
          <!--Website-->
          <li class="col-md-3"> <i class="ion-earth"></i>
            <h5>Website</h5>
            <p>www.medikalclinic.com </p>
          </li>
        </ul>
      </div>
    </section>
  </div>
  {% endblock content %}