{% extends 'site/index.html' %}
{% load staticfiles %}
>

{% block content %}
  

  
<!-- Page Wrap ===========================================-->
<div id="wrap"> 
  
  <!-- TOP BAR ===========================================-->
  <div class="top-bar light">
    <div class="container">
      <ul class="pull-left">
        <li><a href="index.html">Welcome To Our Medikal Center</a></li>
      </ul>
      
      <!-- SOCIAL ICONS ===========================================-->
      <ul class="social_icons">
        <li class="facebook"><a href="#."><i class="fa fa-facebook"></i> </a></li>
        <li class="twitter"><a href="#."><i class="fa fa-twitter"></i> </a></li>
        <li class="dribbble"><a href="#."><i class="fa fa-dribbble"></i> </a></li>
        <li class="instagram"><a href="#."><i class="fa fa-instagram"></i> </a></li>
        <li class="googleplus"><a href="#."><i class="fa fa-google-plus"></i> </a></li>
        <li class="pinterest"><a href="#."><i class="fa fa-pinterest"></i> </a></li>
        <li class="linkedin"><a href="#."><i class="fa fa-linkedin"></i> </a></li>
      </ul>
    </div>
  </div>
  <!-- HEADER ===========================================-->
  
  
  <!--======= SUB BANNER =========-->
  <section class="sub-banner" data-stellar-background-ratio="0.5">
    <div class="overlay">
      <div class="container">
        <h3>SERVICES US</h3>
        <p>Meet our team of highly skilled professionals</p>

        <!--======= Breadcrumbs =========-->
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">SERVICES</li>
          </ol>
      </div>
    </div>
  </section>
  
  <!--======= CONTENT =========-->
  <div class="content fix-nav-space"> 
    
    

    <!--======= OFFER SERVICES =========-->
  <section class="offer-services">
    <div class="container"> 
      <!--======= TITTLE =========-->
      <div class="tittle tittle-2">
        <h3>Welcome to our Health, Care &amp; Medical Center</h3>
        <hr>
        <p>Claritas est etiam processus dynamicus, qui sequ itur mutationem consuetudium lectorum.</p>


      </div>
      <div class="row">
        <div class="col-sm-3">
          <div role="tabpanel"> 
            <!--======= NAV TABS =========-->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#plumb"  role="tab" data-toggle="tab">Dental <i class="animated bounceInLeft fa fa-long-arrow-right"></i></a></li>
              <li role="presentation"><a href="#drain"  role="tab" data-toggle="tab">Cardiology <i class="animated bounceInLeft fa fa-long-arrow-right"></i></a></li>
              <li role="presentation"><a href="#gas" role="tab" data-toggle="tab">For Disabled <i class="animated bounceInLeft fa fa-long-arrow-right"></i></a></li>
              <li role="presentation"><a href="#sewer" role="tab" data-toggle="tab">Ophthalmology <i class="animated bounceInLeft fa fa-long-arrow-right"></i></a></li>
              <li role="presentation"><a href="#water" role="tab" data-toggle="tab">Emergency <i class="animated bounceInLeft fa fa-long-arrow-right"></i></a></li>
              <li role="presentation"><a href="#tankless" role="tab" data-toggle="tab">X Ray <i class="animated bounceInLeft fa fa-long-arrow-right"></i></a></li>
            </ul>
          </div>
        </div>
        
        <!--======= NAV TABS CONTENT =========-->
        <div class="col-sm-9">
          <div class="tab-content"> 
            
            <!--======= HandyMan Repairs =========-->
            <div role="tabpanel" class="tab-pane animated fadeIn active" id="plumb">
              <h4>Dental</h4>
              
              <p>We are a team of young professionals passionate in our work. We work in a friendly and efficient using the latest technologies and sharing our expertise to make a diagnosis and implement cutting-edge therapies.</p>
              <!-- Small Facts -->
             <ul class="fact row">
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Qualified Staff of Doctors</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Feel like you are at Home Services</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>24x7 Emergency Services</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Save your Money and Time with us</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Medicine Research</p>
                </li>               
              </ul>
              
              <a href="#." class="btn">LEARN ggggggMORE</a> </div>
            
            <!--======= HandyMan Repairs =========-->
            <div role="tabpanel" class="tab-pane animated fadeIn" id="drain">
              <h4>Cardiology</h4>
              <p>We are a team of young professionals passionate in our work. We work in a friendly and efficient using the latest technologies and sharing our expertise to make a diagnosis and implement cutting-edge therapies.</p>
              <!-- Small Facts -->
              <ul class="fact row">
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Qualified Staff of Doctors</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Feel like you are at Home Services</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>24x7 Emergency Services</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Save your Money and Time with us</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Medicine Research</p>
                </li>               
              </ul>
              
              <a href="#." class="btn">LEARN MORE</a> </div>
            
            <!--======= GAS LINES =========-->
            <div role="tabpanel" class="tab-pane animated fadeIn" id="gas">
              <h4>For Disabled </h4>
              <p>We are a team of young professionals passionate in our work. We work in a friendly and efficient using the latest technologies and sharing our expertise to make a diagnosis and implement cutting-edge therapies.</p>
              <!-- Small Facts -->
              <ul class="fact row">
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Qualified Staff of Doctors</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Feel like you are at Home Services</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>24x7 Emergency Services</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Save your Money and Time with us</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Medicine Research</p>
                </li>               
              </ul>
              <a href="#." class="btn">LEARN MORE</a></div>
            
            <!--======= SEWER LINES =========-->
            <div role="tabpanel" class="tab-pane animated fadeIn" id="sewer">
              <h4>Ophthalmology</h4>
              <p>We are a team of young professionals passionate in our work. We work in a friendly and efficient using the latest technologies and sharing our expertise to make a diagnosis and implement cutting-edge therapies.</p>
              <!-- Small Facts -->
              <ul class="fact row">
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Qualified Staff of Doctors</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Feel like you are at Home Services</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>24x7 Emergency Services</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Save your Money and Time with us</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Medicine Research</p>
                </li>               
              </ul>
              <a href="#." class="btn">LEARN MORE</a></div>
            
            <!--======= WATER DAMAGE PREVENTION =========-->
            <div role="tabpanel" class="tab-pane animated fadeIn" id="water">
              <h4>Emergency</h4>
              <p>We are a team of young professionals passionate in our work. We work in a friendly and efficient using the latest technologies and sharing our expertise to make a diagnosis and implement cutting-edge therapies.</p>
              <!-- Small Facts -->
              <ul class="fact row">
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Qualified Staff of Doctors</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Feel like you are at Home Services</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>24x7 Emergency Services</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Save your Money and Time with us</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Medicine Research</p>
                </li>               
              </ul>
              <a href="#." class="btn">LEARN MORE</a></div>
            
            <!--======= TANKLESS WATER HEATERS =========-->
            <div role="tabpanel" class="tab-pane animated fadeIn" id="tankless">
              <h4>X Ray</h4>
              <p>We are a team of young professionals passionate in our work. We work in a friendly and efficient using the latest technologies and sharing our expertise to make a diagnosis and implement cutting-edge therapies.</p>
              <!-- Small Facts -->
              <ul class="fact row">
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Qualified Staff of Doctors</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Feel like you are at Home Services</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>24x7 Emergency Services</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Save your Money and Time with us</p>
                </li>
                <li class="col-sm-6">
                  <p><i class="ion-ios-checkmark-outline"></i>Medicine Research</p>
                </li>               
              </ul>
              <a href="#." class="btn">LEARN MORE</a></div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  


    <!--======= COUNTER =========-->
    <div id="counters" data-stellar-background-ratio="0.5">
      <div class="overlay">
        <div class="container">
          <ul class="row">
            
            <!--======= PROPOSALS SENT =========-->
            <li class="col-sm-3"> <i class="fa fa-smile-o"></i> <span class="count1">9501</span>
              <p>DISCHARGED</p>
            </li>
            
            <!--======= PROPOSALS SENT =========-->
            <li class="col-sm-3"> <i class="fa fa-bed"></i> <span class="count2">38</span>
              <p>BEDS</p>
            </li>
            
            <!--======= AWARDS WON =========-->
            <li class="col-sm-3"> <i class="fa fa-user-md"></i> <span class="count3">572</span>
              <p>DOCTORS</p>
            </li>
            <li class="col-sm-3"> <i class="fa fa-ambulance"></i> <span class="count4">14</span>
              <p>AMBULANCES</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <!--======= DOCTOR LIST =========-->

    
    <!--======= POPUP DOCTOR =========-->
    <div id="pop-open" class="zoom-anim-dialog mfp-hide pop-open-style">
      <div class="pop_up"> 
        <!-- Doctor Image -->
        <div class="col-sm-6 no-padding"> <img class="img-responsive" src="images/doctor-1-1.jpg" alt="" > </div>
        <div class="col-md-6 no-padding">
          <div class="doctor-in">
            <h4>Jane Butler</h4>
            <span>X-ray</span> 
            <!-- Personal Info -->
            <div class="personal-info">
              <ul>
                <li class="col-sm-4"><strong>Education </strong></li>
                <li class="col-sm-8"> MD, OB/GYN </li>
              </ul>
              <ul>
                <li class="col-sm-4"><strong>Experience </strong></li>
                <li class="col-sm-8">2 years</li>
              </ul>
              <ul>
                <li class="col-sm-4"><strong>Office </strong></li>
                <li class="col-sm-8">Office 12b, Hall A</li>
              </ul>
              <ul>
                <li class="col-sm-4"><strong>Work days </strong></li>
                <li class="col-sm-8">Monday, Friday, Sunday</li>
              </ul>
              <ul>
                <li class="col-sm-4"><strong>Email </strong></li>
                <li class="col-sm-8">janebutler@medikalclinic.com</li>
              </ul>
              <ul>
                <li class="col-sm-4"><strong>Trainning </strong></li>
                <li class="col-sm-8">Nam liber tempor cum soluta nobis eleif end option congue nihil impedo mingid quod mazim placerat facer <br>
                  <br>
                  Nulla vitae elit libero, a pharetra augue uris 
                  id Integer posuere erat</li>
              </ul>
              
              <!-- Social Icon -->
              <ul class="margin-t-20">
                <li class="col-sm-4"><strong class="t-10">Social info </strong></li>
                <li class="col-sm-8"> 
                  <!-- Social Icons -->
                  <ul class="social_icons">
                    <li class="facebook"><a href="#."><i class="fa fa-facebook"></i> </a></li>
                    <li class="twitter"><a href="#."><i class="fa fa-twitter"></i> </a></li>
                    <li class="linkedin"><a href="#."><i class="fa fa-linkedin"></i> </a></li>
                    <li class="googleplus"><a href="#."><i class="fa fa-google-plus"></i> </a></li>
                    <li class="skype"><a href="#."><i class="fa fa-skype"></i> </a></li>
                  </ul>
                </li>
              </ul>
              
              <!-- View Table --> 
              <a href="#." class="table-link">View timetable <i class="fa fa-arrow-circle-o-right"></i></a> </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--======= POPUP DOCTOR =========-->
    <div id="pop-open-1" class="zoom-anim-dialog mfp-hide pop-open-style">
      <div class="pop_up"> 
        <!-- Doctor Image -->
        <div class="col-sm-6 no-padding"> <img class="img-responsive" src="images/doctor-2-2.jpg" alt="" > </div>
        <div class="col-md-6 no-padding">
          <div class="doctor-in">
            <h4>Lynn Lambert</h4>
            <span>Cardiology</span> 
            <!-- Personal Info -->
            <div class="personal-info">
              <ul>
                <li class="col-sm-4"><strong>Education </strong></li>
                <li class="col-sm-8"> MD, OB/GYN </li>
              </ul>
              <ul>
                <li class="col-sm-4"><strong>Experience </strong></li>
                <li class="col-sm-8">2 years</li>
              </ul>
              <ul>
                <li class="col-sm-4"><strong>Office </strong></li>
                <li class="col-sm-8">Office 12b, Hall A</li>
              </ul>
              <ul>
                <li class="col-sm-4"><strong>Work days </strong></li>
                <li class="col-sm-8">Monday, Friday, Sunday</li>
              </ul>
              <ul>
                <li class="col-sm-4"><strong>Email </strong></li>
                <li class="col-sm-8">janebutler@medikalclinic.com</li>
              </ul>
              <ul>
                <li class="col-sm-4"><strong>Trainning </strong></li>
                <li class="col-sm-8">Nam liber tempor cum soluta nobis eleif end option congue nihil impedo mingid quod mazim placerat facer <br>
                  <br>
                  Nulla vitae elit libero, a pharetra augue uris 
                  id Integer posuere erat</li>
              </ul>
              
              <!-- Social Icon -->
              <ul class="margin-t-20">
                <li class="col-sm-4"><strong class="t-10">Social info </strong></li>
                <li class="col-sm-8"> 
                  <!-- Social Icons -->
                  <ul class="social_icons">
                    <li class="facebook"><a href="#."><i class="fa fa-facebook"></i> </a></li>
                    <li class="twitter"><a href="#."><i class="fa fa-twitter"></i> </a></li>
                    <li class="linkedin"><a href="#."><i class="fa fa-linkedin"></i> </a></li>
                    <li class="googleplus"><a href="#."><i class="fa fa-google-plus"></i> </a></li>
                    <li class="skype"><a href="#."><i class="fa fa-skype"></i> </a></li>
                  </ul>
                </li>
              </ul>
              
              <!-- View Table --> 
              <a href="#." class="table-link">View timetable <i class="fa fa-arrow-circle-o-right"></i></a> </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--======= TESTIMONILAS =========-->
   
  
  <!--======= FOOTER =========-->
</div>
{% endblock content %}
