
{% load staticfiles %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Change the password</title>
        <!-- Plugins -->
    <link rel="stylesheet" href="{% static 'global/vendor/formvalidation/formValidation.css '%}                   ">
    <link rel="stylesheet" href="{% static 'assets/examples/css/forms/validation.css        '%}           ">
    <script>

        $(document).ready(function(){
          $("#button").click(function(event){
            event.preventDefault();
          });
        });
    </script>
    
  <style>
    #changepassword input
    {
      border: 1px solid black;
      font-weight: 800;
    }
    #changepassword .btn-primary
    {
      font-weight: normal;
      border: none;
      padding-left: 20px;
      padding-right: 20px;
    }

    .container
    {
      padding: 0%;
      margin: 0%;
    }
    .form
    {
      margin-left: 55px;
    }
    body
    {
      color: black;
   
    }
    strong
    {
      color: red;
    }
    
  </style>
</head>
<body>


{% block content %}
<div class="mydata">
<div class="page-content container-fluid">



  <div class="page-header">
          <h1 class="page-title">Change The Password</h1>
          <ol class="breadcrumb">
            
            <li class="breadcrumb-item active">profile</li>
            <li class="breadcrumb-item active">change password</li>
          </ol>
          <div class="page-header-actions">
            <button type="button" class="btn btn-sm btn-icon btn-default btn-outline btn-round" data-toggle="tooltip" data-original-title="Edit">
              <i class="icon wb-pencil" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-sm btn-icon btn-default btn-outline btn-round" data-toggle="tooltip" data-original-title="Refresh">
              <i class="icon wb-refresh" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-sm btn-icon btn-default btn-outline btn-round" data-toggle="tooltip" data-original-title="Setting">
              <i class="icon wb-settings" aria-hidden="true"></i>
            </button>
          </div>
        </div>
<div class="row">
<div class="col-lg-12">
<div class="panel">
<div class="panel-heading">
<h3 class="panel-title">CHANGE THE PASSWORD OF YOU'RE ACCOUNT</h3>
</div>
<div class="panel-body">
    {% if messages %}
                          
    {% for message in  messages %}
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
         {{message}}
      </div>
   
    {% endfor %}
    {% endif %}

    
        

<script>
    $(document).ready(function(){
      $("strong").fadeIn("slow");
    });
</script>
<form id="changepassword">
  {% csrf_token %}
  <div class="form-group col-sm-8 col-md-8 col-lg-6">
    <label>Old Password:</label>
    {{ form.old_password|as_crispy_field }}
  </div>
  <div class="form-group col-sm-8 col-md-8 col-lg-6">
    <label>New Password:</label>
    {{ form.new_password1|as_crispy_field }}
  </div>
  <div class="form-group col-sm-8 col-md-8 col-lg-6">
      <label>Confirm New Password:</label>
      {{ form.new_password2|as_crispy_field }}
    </div>
    <div class="form-group col-sm-8 col-md-8 col-lg-6">
<input type="submit" value="Change Password" class="btn btn-primary">
    </div>
</form>


</div>
</div>
</div>
</div>
</div>
</div>
<div id="show"></div>
<script type="text/javascript">
  $(document).on('submit','#changepassword',function(e){
    e.preventDefault();
  $.ajax({
        type:'POST',
        url:'./change_password',
        data:
        {
          old_password:$("#id_old_password").val(),
          new_password1:$("#id_new_password1").val(),
          new_password2:$("#id_new_password2").val(),
            
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
        },
        success:function(res)
        {
        $(".mydata").html(res);
        },
        error : function() {
          console.log("notworking")
        }
    });
    
});

</script>
















{% endblock content %} 

<script src="{% static 'global/vendor/formvalidation/formValidation.min.js               '%}                              "></script>
<script src="{% static 'global/vendor/formvalidation/framework/bootstrap4.min.js         '%}                                    "></script>


<!-- Page -->

<script src="{% static 'assets/examples/js/forms/validation.js    '%}                               "></script>

</body>
</html>
  
