{% extends 'remark-403/classic/base/html/dashboard/change-password.html' %}
{% load staticfiles %}
{% block content %}
<div class="page-content container-fluid">








        <div class="page-header">
                <h1 class="page-title">Add Medicine</h1>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../index.html">Action</a></li>
                  <li class="breadcrumb-item active">Add medicine</li>
                </ol>
                <div class="page-header-actions">
                  <button type="button" class="btn btn-sm btn-icon btn-default btn-outline btn-round" data-toggle="tooltip" data-original-title="Edit">
                    <i class="icon wb-pencil" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-icon btn-default btn-outline btn-round" data-toggle="tooltip" data-original-title="Refresh">
                    <i class="icon wb-refresh" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-icon btn-default btn-outline btn-round" data-toggle="tooltip" data-original-title="Setting">
                    <i class="icon wb-settings" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
        





    
  <div class="row">
    <div class="col-lg-12">
                <div class="panel">
                <div class="panel-heading">
                <h3 class="panel-title">SIMPLIFY LIFE DRUGS MANAGEMENT</h3>
                </div>
                <div class="panel-body">

                        <form method="POST">
                            <div class="row">
                                <div class="form-group col-sm-4">
                                  <label for="firstname">First Name</label>
                                  <input type="text" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="First Name" required>
                                  
                                </div>
                                <div class="form-group col-sm-4">
                                  <label for="lastname">Last Name</label>
                                  <input type="text" class="form-control" id="lastname" placeholder="Last Name" required>
                                </div>


                            </div>
                                
                            <div class="row">
                                    <div class="form-group col-sm-4">
                                        
                                            <label for="exampleInputEmail1">Email</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
                                   
                                              </div>
                                              <div class="form-group col-sm-2">
                                                 <label for="">Gender</label>
                                                  <select class="form-control" name="" id="">
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                   
                                                  </select>
                                                </div>
                                                <div class="form-group col-sm-2">
                                                        <label for="">Date Of Birth</label>
                                                        <input type="date" class="form-control">
                                                       </div>


                                    </div>
                                    <div class="row">
                                            <div class="form-group col-sm-4">
                                                    <label for="">Have you previously attended our facility?</label>
                                                    <label class="radio-inline">
                                                            <input type="radio" name="optradio" checked>Yes
                                                          </label>
                                                          <label class="radio-inline">
                                                            <input type="radio" name="optradio">No
                                                          </label>
                                                   </div>
                                       </div>

                                       <div class="row">
                                                               

                                            <div class="form-group col-sm-4">
                                              <label for="">Please provide a brief description of symptoms</label>
                                              <textarea class="form-control" name="" id="" rows="3"></textarea>
                                            </div>

                                    
                                            <div class="form-group col-sm-3">
                                                    <label for="">Doctor</label>
                                                    <select class="form-control" name="" id="">
                                                            <option>Dr.</option>
                                                            <option>Dr.</option>
                                                       
                                                          </select>
                                                  </div>

                                                  <div class="form-group col-sm-3">
                                                        <label for="">Department</label>
                                                        <select class="form-control" name="" id="">
                                                                <option>Cardiology</option>
                                                                <option>For Disabled</option>
                                                                <option>Ophthalmology</option>
                                                              </select>        
                                                      </div>

                                                      
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Take appointment</button>

                        </form>


                </div>
                </div>
                </div>
                </div>
                </div>


{% endblock content %}
    